<div  *ngIf="hero">
  <h2>{{hero.name | uppercase}}</h2>

  <div class="mb-2">
    <span class="font-bold">ID: </span>{{hero.id}}
  </div>

  <div class="mb-5">
    <label for="hero-name" class="font-bold">Name: </label>
    <input type="text" id="hero-name" [(ngModel)]="hero.name" placeholder="name" class="input-bar mt-1">
  </div>

  <div class="flex flex-row justify-between">
    <button type="button" (click)="goBack()" class="button">&larr; Go back</button>
    <button type="button" (click)="save()" class="button">Save</button>
  </div>
</div>
