<!-- Navbar from https://tailwindui.com/components/application-ui/navigation/navbars -->
<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Mobile navigation menu toggle -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button type="button" (click)='toggleNav()' class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!-- "Open menu" symbol -->
          <fa-icon [icon]="faBars" [ngClass]="(navOpen) ? 'hidden' : 'block'" class="h-6 w-6 text-lg" aria-hidden="true"></fa-icon>
          <!-- "Close menu" symbol -->
          <fa-icon [icon]="faXmark" [ngClass]="(navOpen) ? 'block' : 'hidden'" class="h-6 w-6 text-xl" aria-hidden="true"></fa-icon>
        </button>
      </div>
      <!-- Navbar content -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <!-- Navbar "brand" -->
        <div class="flex flex-shrink-0 items-center">
          <fa-icon [icon]="faAngular" class="text-4xl text-red-500 mr-2"></fa-icon>
          <h1 class="block text-blue-400 text-2xl font-bold pointer-events-none">{{title}}</h1>
        </div>
        <!-- Navbar links -->
        <div class="hidden sm:ml-10 sm:block">
          <div class="flex space-x-4">
            <a routerLink="/dashboard" [ngClass]="(route === '/dashboard') ? 'navlink-current' : 'navlink'" [attr.aria-current]="(route === '/dashboard') ? 'page' : ''">Dashboard</a>
            <a routerLink="/heroes" [ngClass]="(route === '/heroes') ? 'navlink-current' : 'navlink'" [attr.aria-current]="(route === '/heroes') ? 'page' : ''">Heroes</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile navigation menu links -->
  <div [ngClass]="(navOpen) ? 'block' : 'hidden'" class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <a routerLink="/dashboard" [ngClass]="(route=='/dashboard') ? 'navlink-current' : 'navlink'" class="block text-base" [attr.aria-current]="(route === '/dashboard') ? 'page' : ''">Dashboard</a>
      <a routerLink="/heroes" [ngClass]="(route=='/heroes') ? 'navlink-current' : 'navlink'" class="block text-base" [attr.aria-current]="(route === '/heroes') ? 'page' : ''">Heroes</a>
    </div>
  </div>
</nav>

<main class="flex justify-center">
  <router-outlet></router-outlet>
</main>

<app-messages></app-messages>
