<h3>Search a hero</h3>

<div id="search-component" class="sm:mx-2">
  <label for="search-box" class="sr-only">Hero Search</label>
  <!-- Search bar from https://tailwindcomponents.com/component/tailwind-search-bar -->
  <div class="relative w-full">
    <!-- Search icon -->
    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
      <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <!-- Search input -->
    <input #searchBox type="text" id="search-box" (input)="search(searchBox.value)" placeholder="Hero Search" class="input-bar pl-10" />
  </div>

  <!-- Result list -->
  <ul [ngClass]="{'hidden': (heroes$ | async) === null || (heroes$ | async)?.length === 0}" class="divide-y divide-gray-200 border border-t-transparent border-gray-300 rounded-b">
    <li *ngFor="let hero of heroes$ | async" routerLink="/detail/{{hero.id}}" class="px-4 py-2 hover:text-blue-500 hover:font-bold hover:bg-gray-50 hover:cursor-pointer">
        {{hero.name}}
    </li>
  </ul>
</div>
